<body>
    <form id="first-form">
        <button type="reset" style="position: relative;border-radius:50%;">Home</button>
        <form>
            <label for="fullname"><b>Name</b></label>
        <input id="fullname" type="text" placeholder="Fullname" required>
        </form>
        <form id="email-f" >
            <label id="email-label" for="email"><b>Email</b></label>
        <input id="email" type="email" placeholder="example@domain.com" required>
        <input id="submit" type="submit"  value="SEND" src="">
        </form>
        
    </form>
    
    
</body>