<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div id="search">
    <div id="s-text">
        <h1>SEARCH</h1>
    </div>
    <form id="s-prompt">
        <input type="search" />
    </form>

    <div id="s-img">
            <i class="material-icons">search</i>
    </div>
        <!--<button> <b>Home</b></button>  
        <button> <b>Seeds</b></button>  
        <button> <b>Contact</b></button>
        <button> <b>About Us</b></button>-->
        
</div>

<section id="main-cont" style="overflow: scroll; ">
   <app-seed-view style="margin:0% 10px;" *ngFor="let Sdt of Seedta" [seed]="Sdt" ></app-seed-view>
</section>
</body>