<!-- Header -->
<aside id="header">

    <button> <b>Home</b></button>  
    <button> <a style="text-decoration: none; color:#009900;" href="main-app"><b>Seeds</b></a></button>  
    <button> <b>Contact</b></button>
    <button> <b>About Us</b></button>
    
    </aside>
    <!-- Text Area -->
    <section id="landing">
        <div id="l-text_area">
            <h1 style="font-size:x-large;">SeedMate</h1>
            <p style="width:500px;font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
        </div>
    </section>
