<!-- Header -->
<aside id="header">

    <button> <b>Home</b></button>  
    <button  [routerLink]="['/main-app']"> <b>Seeds</b></button>  
    <button [routerLink]="['/contact-us']"> <b>Contact</b></button>
    <button> <b><a href="#about">About Us</a></b></button>
    </aside>
    <!-- Text Area -->
    <section id="landing">
        <div id="l-text_area">
            <h1 style="font-size:x-large;">SeedMate</h1>
            <p style="width:500px;font-size:20px;">Welcome to our web app for all farming enthusiasts!</p>
        </div>
    </section>
    <main>
        <div style="text-align:left;margin-left:10%;" id="m-text_area">
            <h1 style="font-size:x-large;">SeedMate</h1>
            <p style="font-size:20px;"> Our web app is made to help beginning farmers and <br/> enthusiasts with knowledge leading to proper plant growth.</p>
            <!--<p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>-->
        </div>
        <div style="text-align:center;" id="m-text_area">
            <h1 style="font-size:x-large;">SeedMate</h1>
            <p style="font-size:20px;"> A lot of people just starting out with farming don't have proper knowledge <br/> on the spacing requirements that lead to a high plant yield or proper plant growth.</p>
           <!-- <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>-->
        </div>
        <!--<div style="text-align: right" id="m-text_area">
            <h1 style="font-size:x-large;">SeedMate</h1>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
            <p style="font-size:20px;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id sit delectus labore velit!</p>
        </div>-->
    </main>
    <footer>
        
        <ul>
            <h3 style="border-bottom: 2px solid rgb(110, 109, 109)">Lorem, ipsum.</h3>
            <li> Lorem, ipsum dolor.</li>
            <li> Lorem, ipsum dolor.</li>
            <li> Lorem, ipsum dolor.</li>
            <li> Lorem, ipsum dolor.</li>
        </ul>
        
        <ul>
            <h3 style="border-bottom: 2px solid rgb(110, 109, 109)" id="about">Lorem, ipsum.</h3>
            <li> Lorem, ipsum dolor.</li>
            <li> Lorem, ipsum dolor.</li>
            <li> Lorem, ipsum dolor.</li>
            <li> Lorem, ipsum dolor.</li>
        </ul>
       
        <!--<ul>
             <h3>Lorem, ipsum.</h3>
            <li> Lorem, ipsum dolor.</li>
            <li> Lorem, ipsum dolor.</li>
            <li> Lorem, ipsum dolor.</li>
            <li> Lorem, ipsum dolor.</li>
        </ul>
       
        <ul>
             <h3>Lorem, ipsum.</h3>
            <li> Lorem, ipsum dolor.</li>
            <li> Lorem, ipsum dolor.</li>
            <li> Lorem, ipsum dolor.</li>
            <li> Lorem, ipsum dolor.</li>
        </ul>-->

    </footer>
