
#header {
  width: 20%;
  position: absolute;
  float: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

#header button {
  color: #090;
  font-size: large;
  height: 3%;
  background-color: inherit;
  border: none;
  margin: 10% 0% 10% 0%;
}

#landing {
  color: #090;
  display: flex;
  background-color: #e6ffe6;
  height: 100vh;
  width: 80%;
  float: right;
}

#landing p {
  width: 500px;
  font-size: 20px;
}

#l-text_area {
  position: relative;
  top: 35%;
  left: 10%;
}

#m-text_area {
  text-align: left;
}

main {
  color: #090;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  background-color: #fff;
  height: 150vh;
  width: 100%;
  float: right;
}

footer {
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: grey;
  color: rgb(58, 58, 58);
  display: flex;
  flex-direction: row;
}

footer ul {
  list-style-type: none;
}

footer h3 {
  color: rgb(68, 68, 68);
  
  /* text-decoration: underline; */
}

footer li:hover,
footer h3:hover {
  color: black;
}

a {
  text-decoration: none;
  color: #090;
}

#none {
  border: none;
  background: none;
  font-size: inherit;
  color: inherit;
}

#m-text_area:nth-of-type(1) {
  margin-left: 10%;
  text-align: left;
}

#m-text_area:nth-of-type(2) {
  text-align: center;
}

@media screen and (max-width: 780px) {
  #header {
    display: none;
  }

  #landing {
    width: 100vw;
    text-align: center;
    justify-content: space-between;
    float: none;
  }

  #l-text_area {
    position: relative;
    top: 35%;
    left: 0;
  }

  #landing p {
    width: inherit;
  }

  footer {
    align-content: space-between;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: grey;
    color: rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #m-text_area {
    margin: 0%;
    width: 90vw;
    text-align: justify;
  }

  #m-text_area h1 {
    text-align: center;
  }
}

